{% extends "aspect.html" %}
{% block content %}

  {% if tara %}
    <div class="container">
    <img class="first" src="{{ url_for('static', filename='pics/euro.jpg') }}" alt="tari Europa">
      <div class="top-left">
        <div style="background: green;">Aceste tari corespund cautarii dumneavoastra:
          {% for k, v in tara.items() %}
          <ul>
            <li><a style="font-size: 25px;" href="/tara/{{ k }}">{{ v }}</a></li>
          </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
     <img class="first" src="{{ url_for('static', filename='pics/euro.jpg') }}" alt="imagine harta Europei">
        <div class="top-left">
          <div class="error">{{ nothing }}..</div><br>
          <br/>
          <form action="/cautari" method="get">
            <input type="text" name="nom" placeholder="Cauta alta tara"><br>
            <button class="buton" type="submit">Cauta</button>
          </form>
        </div>
    </div>
  {% endif %}

  <a href="/castigatoare#win">Inapoi la echipe castigatoare</a>
  <br />

{% endblock content %}
