{% extends "aspect.html" %}
{% block content %}
<h2 id="Top">Cuprins</h2>

        <ol style="background: yellow;">
            <li><a href="#Unu" class="scris1">Inceputurile competitiei</a></li>
            <li><a href="#Doi" class="scris1">Echipele Romanesti in Cupa Campionilor Europeni</a></li>
            <li><a href="#Trei" class="scris1">Restructurarea competitiei sub formatul UEFA Champions League</a></li>
            <li><a href="#Patru" class="scris1">Imnul competitiei</a></li>
            <li><a href="#Cinci" class="scris1">Momente memorabile ale competitiei</a></li>
        </ol>
<hr/>
<h2 id="Unu">Inceputurile competitiei</h2>
<p class="scris1">
    Istoria acestei competitii incepe in sezonul 1955/1956. Sub denumirea de Cupa Campionilor Europeni, 16 echipe au participat la editia inaugurala.
    <a class="lnk" href="https://www.realmadrid.com/en" target="_new">Real Madrid</a> a devenit prima invingatoare a competitiei,
    castigand in finala cu <a class="lnk" href="https://www.stade-de-reims.com/" target="_new">Stade de Reims</a> , scor 4-3.
</p>
    <img class="first" src="{{ url_for('static', filename='pics/cl_1956.jpg') }}" alt="Real Madrid, 1956">
    <h4>Imagine Real Madrid, 1956, Stadion: Parc des Princes, Paris</h4>
    <br/>

<hr/>
<h2 id="Doi">Echipele romanesti in Cupa Campionilor Europeni</h2>
<p class="scris1">
    Sub vechiul format al competitiei, chipele romanesti au avut si cele mai importante performante:<br/>
    <a class="lnk" href="https://www.ucv1948.ro/" target="_new">Universitatea Craiova</a>, sferturi in 1981, fiind eliminata de
    <a class="lnk" href="https://fcbayern.com/en" target="_new">Bayern Munchen</a>, cu scorul general de 1-3.<br/>
    <br/>
    <a class="lnk" href="https://dinamo1948.ro/" target="_new">Dinamo Bucuresti</a>, semifinala in 1984, fiind eliminata de
    <a class="lnk" href="https://www.liverpoolfc.com/" target="_new">FC Liverpool</a>, cu scorul general de 1-3.
    <img class="first" src="{{ url_for('static', filename='pics/dinamo.jpg') }}" alt="imagine coregrafie suporteri Dinamo">
</p>
    <h4>Imagine cu coregrafia suporterilor echipei Dinamo, Stadion : National Arena, Bucuresti</h4>
<p class="scris1">
    <a class="lnk" href="https://www.csasteaua.ro/" target="_new">Steaua Bucuresti</a>, castigatoare in 1986 , intr-o finala castigata la penalty-uri
    impotriva lui <a class="lnk" href="https://www.fcbarcelona.com/en/" target="_new">FC Barcelona</a>.<br/>
    Steaua Bucuresti a mai disputat si o finala, in 1990, pierduta in fata marei echipe a lui <a class="lnk" href="https://en.wikipedia.org/wiki/Arrigo_Sacchi" target="_new">Arrigo Sacchi</a>:
    <a class="lnk" href="https://www.acmilan.com/en" target="_new">AC Milan</a>. Scorul <a class="lnk" href="https://www.youtube.com/watch?v=Avwj8BCC5FU" target="_new" title="rezumat meci">finalei</a> a fost de 0-4.
</p>
<br/>

<hr/>
<h2 id="Trei">Restructurarea competitiei sub formatul <a class="lnk" href="https://www.uefa.com/uefachampionsleague/" target="_new">UEFA Champions League</a></h2>
<p class="scris1">
    Incepand cu anul 1992, competitia a trecut prin o serie de transformari. Din motive economice, sefii UEFA au considerat ca
    un model similar ligilor profesioniste  din America ar fi mai potrivit(<a class="lnk" href="https://www.nba.com/" target="_new">NBA</a>,
    <a class="lnk" href="https://www.nfl.com/" target="_new">NFL</a>, etc).
    Treptat, pe langa  campioanele  tarilor de pe continentul european, incep sa fie admise si echipele clasate pe
    locul 2 in campionatele puternice din Europa. Aceasta transformare continua prin amiterea echipelor clasate pe locul 3 si in final
    echipele clasate pe locul 4 din campionatele puternice.
    Odata cu aceasta transformare, performantele echipelor din Estul Europei si in special a  Romaniei, scad drastic.
    Echipele mari din campionatele puternice sunt recompensate regeste, pentru calificarea in grupele UCL. Ele isi perimit sa
    achizitioneze cei mai importanti jucatori ai planetei. In schimb echipele din Est nu pot face fata, ele se bazeaza pe producere
    de jucatori tineri, pe care ii pot vinde la supra pret in Vestul Europei.
    De la reformarea competitiei, cele mai bune peformante ale echipelor din  Estul Europei,a fost  ajungerea pana in  semifinale, in 2 ocazii:<br/>
    In 1996, <a class="lnk" href="https://www.pao.gr/en/" target="_new">Panathinaikos Atena</a>, invinsa de exuberanta si tanara echipa
    <a class="lnk" href="https://english.ajax.nl/" target="_new">Ajax Amsterdam</a>.Scorul general al dublei manse a fost 1-3.<br/>
    In 1999, <a class="lnk" href="https://fcdynamo.com/en/" target="_new">Dinamo Kiev</a>, invinsa cu greu in semifinale, scor general 3-4, de catre
    <a class="lnk" href="https://fcbayern.com/en" target="_new">Bayern Munchen</a>.
</p>
    <img class="first" src="{{ url_for('static', filename='pics/d_kiev.jpg') }}" alt="Dinamo Kiev, 1999">
    <h4>Imagine Dinamo Kiev, 1999</h4><br/>

<hr/>
<h2 id="Patru">Imnul Competitiei</h2>
<p class="scris1">
    Unul dintre cei mai mari jucatori de fotbal, din istorie, <a class="lnk" href="https://en.wikipedia.org/wiki/Zinedine_Zidane" target="_new">Zinedine Zidane</a>,
    spunea depre Imnul UCL : 'Magic...mai presus de orice. Cand auzi imnul, te captiveaza imediat'. Imnul, denumit simplu 'Champions League',
    a fost scris de <a class="lnk" href="https://en.wikipedia.org/wiki/Tony_Britten" target="_new">Tony Britten</a> in 1992.
    Puteti asculta imnul UCL : <a class="lnk" href="https://www.youtube.com/watch?v=ltcHzgUc944" target="_new" title="Catre YouTube">aici</a>.
</p>

<hr/>
<h2 id="Cinci">Momente memorabile ale competitiei</h2>
<p class="scris1">
    In ultimii 30 de ani,cei mai buni jucatori de fotbal din lume au jucat in aceasta competitie. Ca sa numim doar cativa:
    <a class="lnk" href="https://en.wikipedia.org/wiki/Zinedine_Zidane" target="_new">Zinedine Zidane</a>,
    <a class="lnk" href="https://en.wikipedia.org/wiki/Alessandro_Del_Piero" target="_new">Del Piero</a>,
    <a class="lnk" href="https://en.wikipedia.org/wiki/Ronaldo_(Brazilian_footballer)" target="_new">Ronaldo</a>,
    <a class="lnk" href="https://en.wikipedia.org/wiki/Lionel_Messi" target="_new">Messi</a>,
    <a class="lnk" href="https://en.wikipedia.org/wiki/Cristiano_Ronaldo" target="_new">Cristiano Ronaldo</a>, etc. Datorita
    concentrarii de super jucatori , Uefa Champions League a produs o multime de momente spectaculoase.<br/>
    Cateva dintre aceste momente:<br/>
    <a class="lnk" href="https://www.manutd.com/">Manchester United</a> a invins pe <a class="lnk" href="https://fcbayern.com/en" target="_new">Bayern Munchen</a>
    in finala UCL din 1999, revenind de la 0-1 ,cu 2 goluri marcate in minutele de prelungiri. Scor final : 2 - 1.
</p>
    <img class="first" src="{{ url_for('static', filename='pics/united.jpg') }}" alt="Manchester United, 1999">
    <h4>Imagine cu Manchester United ridicand trofeul de campioni, Stadion:Nou Camp, Barcelona</h4>

<p class="scris1">
    In poate cea mai spectaculoasa finala din istorie, disputata in 2005 la Istambul,
    <a class="lnk" href="https://www.liverpoolfc.com/" target="_new">FC Liverpool</a> a revenit de la 0-3 in finala cu
    <a class="lnk" href="https://www.acmilan.com/en" target="_new">AC Milan</a>.In repriza a 2-a Liverpool a marcat de 3 ori , ducand meciul
    pana in prelungiri si dupa 2 reprize de prelungiri, avea sa se impuna la penalty-uri.
</p>
    <img class="first" src="{{ url_for('static', filename='pics/liver.jpg') }}" alt="FC Liverpool, 2005">
    <h4>Imagine cu Liverpool ridicand trofeul de campioni, Stadion:Ataturk Olimpic Stadium, Istambul</h4>
<p class="scris1">
    O finala faimoasa, pentru 2 momente paradoxal opuse, s-a disputat in 2018 la Kiev.
    <a class="lnk" href="https://www.liverpoolfc.com/" target="_new">FC Liverpool</a> a pierdut finala cu
    <a class="lnk" href="https://www.realmadrid.com/en" target="_new">Real Madrid</a>, scor 1-3. Finala a fost marcata de catre 2
    greseli innexplicabile ale portarului lui Liverpool, Loris Karius. Poti vedea gafele lui Karius:
    <a class="lnk" href="https://www.youtube.com/watch?v=W7PJg18VYF8" title="Youtube- Karius mistakes" target="_new">aici</a>
    . De partea cealalta, jucatorul echipei Real Madrid, <a class="lnk" href="https://en.wikipedia.org/wiki/Gareth_Bale" target="_new">Gareth Bale</a>,
    a marcat, probabil, cel mai spectaculos gol din istoria competitiei. Vezi golul lui Bale:
    <a class="lnk" href="https://www.youtube.com/watch?v=VfhFW18uhBE" target="_new" title="youtube_golBale">aici</a>
</p>
    <img class="first" src="{{ url_for('static', filename='pics/real.jpg') }}" alt="Real Madrid, 2018">
    <h4>Real Madrid ridicand trofeul in 2018, Stadion : Olimpic, Kiev</h4>
<a href="#Top">Inapoi la inceputul paginii</a>
{% endblock content %}
